* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.clr {
  clear: both;
}

#top {
  background-color: #333C5E;
  height: 100vh;
  width: 100%;
}
#top .logo a {
  color: #fff;
  font-size: 3rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.25rem;
  float: left;
  margin: 0 20px;
}
#top .top-nav-ul {
  height: 60px;
  border: 2px solid red;
}
#top .top-nav-ul li {
  cursor: pointer;
  float: left;
  width: 150px;
  height: 40px;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
}
#top .top-nav-ul li a {
  color: #333C5E;
}
#top #top-div {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.25rem;
  background-image: url("../images/geometric_img.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  height: calc(100vh - 60px);
  border: 2px solid red;
}
#top #top-div .container {
  color: #fff;
  margin-left: 50px;
}
#top #top-div h1 {
  font-size: 7rem;
  margin-bottom: -80px;
  width: 500px;
}
#top #top-div span {
  font-size: 12rem;
  color: transparent;
  font-family: "PT Sans", sans-serif;
  -webkit-text-stroke: 10px #fff;
}
#top #to-top-btn {
  height: 60px;
  width: 60px;
  border: solid 5px #B3424A;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 20px 20px 0;
  transform: rotate(45deg);
  cursor: pointer;
  background-color: #fff;
}
#top #to-top-btn a {
  border-top: solid 4px #B3424A;
  border-left: solid 4px #B3424A;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
}

#contact {
  background-color: #333C5E;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../images/geometric_img.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
}
#contact .title {
  border: 2px solid red;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contact .title h1 {
  color: #fff;
  background-color: #B3424A;
  text-align: right;
  width: 30%;
  padding: 8px;
  font-size: 2rem;
  margin-top: 15px;
}
#contact .content {
  width: 90%;
  margin: 30px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#contact .contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#contact .contact-form p {
  color: #fff;
}
#contact .contact-form span {
  color: #ff0000;
}
#contact label {
  color: #fff;
}
#contact label::after {
  content: "*";
  color: #ff0000;
  padding-left: 2px;
}
#contact input {
  display: block;
  background-color: transparent;
  color: #fff;
  outline: none;
  font-size: 1.25rem;
  padding-bottom: 3px;
  border-bottom: solid 3px #B3424A;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 90%;
  margin: 5px 0 20px 0;
}
#contact #message {
  display: block;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 5px;
  font-family: "Roboto";
  border: solid 3px #B3424A;
  width: 95%;
  height: 250px;
  margin: 10px 0;
  color: #fff;
  outline: none;
  resize: none;
}
#contact .form-message {
  grid-column: 1/span 2;
}
#contact .btn {
  border-bottom: solid 3px #B3424A;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  width: 100px;
  height: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  margin: 10px 0;
}
#contact .info {
  color: #fff;
}

footer {
  color: #333C5E;
  height: 70px;
}
footer ul {
  height: 50%;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer ul li {
  text-align: center;
  cursor: pointer;
}
footer p {
  height: 50%;
  text-align: center;
  padding-top: 5px;
}

#who-we-are {
  height: 600px;
  width: 100%;
  border: red 2px solid;
}
#who-we-are .title {
  margin: 20px 0;
}
#who-we-are .title::after {
  content: "";
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color: #C4C4C4;
  width: 1250px;
  height: 500px;
  top: 108%;
  left: 2%;
  display: block;
  position: absolute;
  z-index: -1;
}
#who-we-are .title h1 {
  color: #fff;
  background-color: #B3424A;
  text-align: right;
  width: 30%;
  padding: 8px;
  font-size: 2rem;
}
#who-we-are .content {
  width: 90%;
  margin: 30px auto 0 auto;
}

#our-services {
  height: 600px;
  width: 100%;
  border: red 2px solid;
}
#our-services .title {
  margin: 20px 0;
}
#our-services .title::after {
  content: "";
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color: #C4C4C4;
  width: 1250px;
  height: 500px;
  top: 108%;
  left: 2%;
  display: block;
  position: absolute;
  z-index: -1;
  top: 200%;
}
#our-services .title h1 {
  color: #fff;
  background-color: #B3424A;
  text-align: right;
  width: 30%;
  padding: 8px;
  font-size: 2rem;
}
#our-services .content {
  width: 90%;
  margin: 30px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*# sourceMappingURL=main.css.map */
