// nav, header, footer, form

@use "abstracts" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-padding-top: 60px; /* 固定ヘッダの高さ分 */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

.clr {
    clear: both;
}



// header
#top {
    background-color: map-get($colors, navy);
    height: 100vh;
    width: 100%;

    .top-nav {
        background-color: map-get($colors, navy);
        position: fixed;
        width: 100%;
        height: 60px;
        z-index: 1;
    }

    .logo a{
        color: #fff;
        font-size: 3rem;
        @include robotoC;
        float: left;

        margin: 0 20px;
    }

    .span-d {
        color: map-get($colors, grey);
    }
    
    .drawer-hidden {
        display: none;
    }

    .top-nav-ul {
        height: 60px;
        // border: 2px solid red;
    }

    .top-nav-ul li {
        cursor: pointer;
        float: left;
        margin: 13px 35px;
        padding: 3px 0;
        font-weight: bold;
        
        width: 170px;
        height: 30px;
        border-radius: 50px;
        background-color: #fff;

        text-align: center;

        a {
            color: map-get($colors, navy);
        }
    }

    #top-div {
        @include robotoC;
        @include bgImgStyle;

        height: calc(100vh - 60px);
        position: absolute;
        margin-top: 60px;
        width: 100%;

        // border: 2px solid red;


        .container {        
            color: #fff;    
            margin-left: 50px;
        }

        h1 {
            font-size: 7rem;
            margin-bottom: -80px;
            width: 500px;
            // border: 2px solid red;
        }

        span {
            font-size: 12rem;
            color: transparent;
            font-family: 'PT Sans', sans-serif;
            -webkit-text-stroke: 10px #fff;
        }

        .span-d {
            color: map-get($colors, grey);
            -webkit-text-stroke: 0px;
        }
    }

    #to-top-btn {
        height: 60px;
        width: 60px;
        border: solid 5px map-get($colors, darkred);
        position: fixed;
        right: 1%;
        bottom: 2%;
        // margin: 0 20px 20px 0;
        transform: rotate(45deg);
        cursor: pointer;
        background-color: #fff;
        z-index: 2;

        &:hover + #goldfish {
            animation: in 1s forwards;
        }

        a {
            border-top: solid 4px map-get($colors, darkred);
            border-left: solid 4px map-get($colors, darkred);
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            position: absolute;
            top: 55%;
            left: 55%;
            transform: translate(-50%, -50%);
            display: block;
        }
    }

    #goldfish {
        height: 50px;
        width: auto;
        position: fixed;
        right: 0;
        bottom: 0;
        margin: 30px 30px;
        animation: out 1s;
        z-index: 1;
    }

    @keyframes in {
        0% {
            margin: 30px 30px;
        }

        100% {
            margin: 0 60px 0 0;
        }
    }
    
    @keyframes out {
        0% {
            margin: 0 60px 0 0;
        }

        100% {
            margin: 30px 30px;
        }
    }

}





#contact {
    background-color: map-get($colors, navy);
    width: 100%;
    height: 100vh;
    position: relative;
    @include bgImgStyle;

    .title {
        // border: 2px solid red;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title h1 {
        @include titleStyle;
        margin-top: 15px;
    }

    .content {
        @include contentStyle;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 40px;
    }    

    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        p {
            color: #fff;
        }

        span {
            color: #ff0000;
        }
    }

    label {
        color: #fff;

        &:not(.not-required)::after {
            content: '*';
            color: #ff0000;
            padding-left: 2px;
        }
    }

    input {
        display: block;
        background-color: transparent;
        color: #fff;
        outline: none;
        font-size: 1.25rem;
        padding-bottom: 3px;
        border-bottom: solid 3px map-get($colors, darkred);
        border-top: none;
        border-left: none;
        border-right: none;
        width: 90%;
        margin: 5px 0 20px 0;
    }

    #message {
        display: block;
        background-color: transparent;
        font-size: 1.2rem;
        padding: 5px;
        font-family: "Roboto";
        border: solid 3px map-get($colors, darkred);
        width: 95%;
        height: 250px;
        margin: 10px 0;
        color: #fff;
        outline: none;
        resize: none;
    }
    
    .form-message {
        grid-column: 1 / span 2;
    }

    .btn-div {
        width: 95%;
        text-align: center
    }

    .btn {
        @include sendBtnStyle;
        margin: 10px 0;
    }

    iframe {
        width: 500px;
        height: 400px;
    }

    .info {
        color: #fff;
        margin-top: 10px;
    }
}





footer {
    height: 70px;

    ul {
        height: 50%;
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    ul li {
        text-align: center;
    }

    ul li a {
        color: map-get($colors, navy);
    }

    p {
        height: 50%;
        text-align: center;
        padding-top: 5px;
        color: map-get($colors, navy);
    }

}