// btn, hamburger menu

@use "abstracts" as *;

/* Smartphone */
@media (max-width: 500px){

    html {
        // *
        scroll-padding-top: 0px; /* 固定ヘッダの高さ分 */
    }

    #top {
        // *
        height: 360px;
    
        .top-nav {            
            // *
            background-color: transparent;
            width: 100vw;
            height: 40px;
        }

        // *
        .logo {
            display: none;
        }
    
        .drawer-open {
            display: flex;
            height: 30px;
            width: 30px;
            right: 5%;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 100;
            cursor: pointer;
            margin: 5px;
        }
        
        .drawer-open span,
        .drawer-open span::before,
        .drawer-open span::after {
            content: '';
            display: block;
            height: 3px;
            width: 25px;
            border-radius: 3px;
            background: map-get($colors, darkred);
            transition: 0.5s;
            position: absolute;
        }
        
        .drawer-open span::before {
            bottom: 8px;
        }
        
        .drawer-open span::after {
            top: 8px;
        }
        
        #drawer-check:checked ~ .drawer-open span {
            background: rgba(255, 255, 255, 0);
        }
        
        #drawer-check:checked ~ .drawer-open span::before {
            bottom: 0;
            transform: rotate(45deg);
        }
          
        #drawer-check:checked ~ .drawer-open span::after {
            top: 0;
            transform: rotate(-45deg);
        }
    
        .top-nav-ul {
            width: 100%;
            height: 50vh;
            position: fixed;
            top: 0;
            left: 100%;
            z-index: 99;
            color: #fff;
            transition: .5s;
            background-color: map-get($colors, navy);
        }
    
        #drawer-check:checked ~ .top-nav-ul {
            left: 0;
        }
    
        .top-nav-ul li {
            // *
            float: none;
            margin: 13px auto;
        }
        
        #goldfish-nav {
            display: block;
            width: 50px;
            margin: 0 auto;
        }
    
        #top-div {
            // *
            @include robotoC(0.25rem);
            @include bgImgStyle(125%);
            height: 360px;
            margin-top: 0;
    
            .container {
                // *
                margin-left: 10px;
                margin-top: 25px;
            }
    
            h1 {
                // *
                font-size: 3rem;
                margin-bottom: -35px;
                width: 100%;
            }
    
            span {
                // *
                font-size: 6.25rem;
                -webkit-text-stroke: 5px #fff;
            }
        }
    
        #to-top-btn {
            // *
            right: 5%;
            bottom: 3%;
        }
    }

    



    #who-we-are {
        // * changed
        height: 900px;
    
        .title {
    
            &::after {
                // * changed
                @include triangleBgStyle_sp;
            }
        }
    
        .title h1 {
            // * changed
            @include titleStyle(55%, 1.25rem, 0.15rem);
        }
    
        .content {
            // * changed
            @include contentStyle_sp;
        }
    
        .btn-div {
            // *
            width: 100%;
            margin: 15px auto 0 auto;
            display: block;
            justify-content: space-around;
        }
    }
    
    
    
    
    #past-cases {
        // * changed
        height: 1100px;
    
        .title {
            &::after {
                // * changed
                @include triangleBgStyle_sp;
                top: 231%;
            }
        }
    
        .title h1 {
            // * changed
            @include titleStyle(55%, 1.25rem, 0.15rem);
        }
    
        .content {
            // * changed
            @include contentStyle_sp;
            display: block;
        }

        .tbl-price {
            // * changed
            padding-left: 15px;
            vertical-align: bottom;
        }

        // * changed
        .content-right {
            margin-top: 40px;
        }
    
        .other-tbl {
            // * changed
            margin-left: 5px;
            width: 95%;
        }

        // * changed
        .other-tbl tr td {
            vertical-align: bottom;
        }
    
    }




    #contact {
        // * changed
        height: 1230px;
        @include bgImgStyle(125%);
        background-size: 150%;
        background-position: top;
        
        .title h1 {
            // * changed
            @include titleStyle(55%, 1.25rem, 0.15rem);
        }
    
        .content {
            // * changed
            @include contentStyle_sp;
            display: block;
        }

        // *
        .content-left {
            margin: 0 auto;
        }
    
        .contact-form {
            // * changed
            display: block;
        }

        input {
            // *
            width: 95%;
        }
    
        // *
        .content-right {
            padding-top: 40px;
            width: 95%;
        }

        iframe {
            // * changed
            width: 100%;
            height: 200px;
        }
    }




    footer {
        // *
        height: 170px;

        ul {
            // *
            height: 35%;
        }
        
        p {
            // *
            height: 40%;
            width: 65%;
            margin-top: 15px;
            margin-left: 10px;
        }
    }
}

@media (min-width: 321px) and (max-width: 500px) {
    @include smp(780px, 1000px)
}



/* Tablet */
@media (min-width: 501px) and (max-width: 768px){
    html {
        // *
        scroll-padding-top: 40px; /* 固定ヘッダの高さ分 */
    }

    #top {
        // *
        height: 500px;
    
        .top-nav {            
            // *
            background-color: transparent;
            width: 100vw;
            height: 40px;
        }

        // *
        .logo {
            display: none;
        }
    
        .drawer-open {
            display: flex;
            height: 30px;
            width: 30px;
            right: 5%;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 100;
            cursor: pointer;
            margin: 5px;
        }
        
        .drawer-open span,
        .drawer-open span::before,
        .drawer-open span::after {
            content: '';
            display: block;
            height: 3px;
            width: 25px;
            border-radius: 3px;
            background: map-get($colors, darkred);
            transition: 0.5s;
            position: absolute;
        }
        
        .drawer-open span::before {
            bottom: 8px;
        }
        
        .drawer-open span::after {
            top: 8px;
        }
        
        #drawer-check:checked ~ .drawer-open span {
            background: rgba(255, 255, 255, 0);
        }
        
        #drawer-check:checked ~ .drawer-open span::before {
            bottom: 0;
            transform: rotate(45deg);
        }
          
        #drawer-check:checked ~ .drawer-open span::after {
            top: 0;
            transform: rotate(-45deg);
        }
    
        .top-nav-ul {
            width: 100%;
            height: 50vh;
            position: fixed;
            top: 0;
            left: 100%;
            z-index: 99;
            color: #fff;
            transition: .5s;
            background-color: map-get($colors, navy);
        }
    
        #drawer-check:checked ~ .top-nav-ul {
            left: 0;
        }
    
        .top-nav-ul li {
            // *
            float: none;
            margin: 13px auto;
        }
        
        #goldfish-nav {
            display: block;
            width: 50px;
            margin: 0 auto;
        }
    
        #top-div {
            // *
            @include bgImgStyle(70%);
            height: 500px;
            margin-top: 0;
    
            .container {
                // *
                margin-left: 20px;
                margin-top: 25px;
            }
    
            h1 {
                // *
                font-size: 5rem;
                margin-bottom: -60px;
                width: 100%;
            }
    
            span {
                // *
                font-size: 9.25rem;
                -webkit-text-stroke: 7px #fff;
            }
        }
    
        #to-top-btn {
            // *
            right: 2%;
            bottom: 3%;
        }
    }

    



    #who-we-are {
        // * changed
        height: 550px;
    
        .title {
    
            &::after {
                // * changed
                @include triangleBgStyle_tabl;
            }
        }
    
        .title h1 {
            // * changed
            @include titleStyle(40%, 1.5rem, 0.15rem);
        }
    
        .content {
            // * changed
            @include contentStyle_sp;
        }
    
        .btn-div {
            // *
            width: 100%;
            margin: 15px auto 0 auto;
        }
    }
    
    
    
    
    #past-cases {
    
        .title {
            &::after {
                // * changed
                @include triangleBgStyle_tabl;
                top: 195%;
            }
        }
    
        .title h1 {
            // * changed
            @include titleStyle(40%, 1.5rem, 0.15rem);
        }
    
        .content {
            // * changed
            @include contentStyle_sp;
        }

        .tbl-price {
            // * changed
            padding-left: 15px;
            vertical-align: bottom;
        }
    
        .other-tbl {
            // * changed
            margin-left: 5px;
            width: 95%;
        }

        // * changed
        .other-tbl tr td {
            vertical-align: bottom;
        }
    
    }




    #contact {
        // * changed
        height: 1130px;
        @include bgImgStyle(70%);
        background-position: top right;
        
        .title h1 {
            // * changed
            @include titleStyle(40%, 1.5rem, 0.15rem);
        }
    
        .content {
            // * changed
            @include contentStyle_sp;
            display: block;
        }

        // *
        .content-left {
            margin: 0 auto;
        }
    
        // *
        .content-right {
            padding-top: 40px;
            width: 95%;
            margin: 0 auto;
        }

        iframe {
            // * changed
            width: 600px;
            height: 300px;
        }
    }




    footer {
        // *
        height: 120px;

        ul {
            // *
            height: 35%;
        }
        
        p {
            // *
            height: 40%;
            width: 65%;
            margin-top: 15px;
            margin-left: 10px;
        }
    }    
}



/* Normal */
@media (min-width: 769px) and (max-width: 1200px){


}

@media (min-width: 1201px) and (max-width: 1440px) {

}


@media (min-width: 1441px){

}

